/* Aside Menu Show */
section.show-menu { border-left: 1px solid rgba(0, 0, 0, .2); box-shadow: -5px 0 10px -5px rgba(0, 0, 0, .25); -webkit-animation: showMenu .4s cubic-bezier(.3,.7,.4,1) forwards; }
section.hide-menu { -webkit-animation: hideMenu .4s cubic-bezier(.3,.7,.4,1) forwards; }

.in {z-index: 100;}

/* Aside Section Change */
.aside.in  { -webkit-animation: asideIn .4s cubic-bezier(.3,.7,.4,1); }
.aside.out { -webkit-animation: hideMenu .4s cubic-bezier(.3,.7,.4,1); }

/* iOS7 Style Animation */
.ios7-left.in { -webkit-animation: slideLeftIn .3s cubic-bezier(.3,.7,.4,1); }
.ios7-left.out { -webkit-animation: ios7LeftOut .3s cubic-bezier(.3,.7,.4,1); }

.ios7-right.in { -webkit-animation: ios7RightIn .3s cubic-bezier(.3,.7,.4,1); }
.ios7-right.out { z-index: 800; -webkit-animation: slideRightOut .3s cubic-bezier(.3,.7,.4,1); }

/* Slide Animations*/
.slide-right.in  { -webkit-animation: slideRightIn .25s cubic-bezier(.3,.7,.4,1); }
.slide-right.out { -webkit-animation: slideRightOut .25s cubic-bezier(.3,.7,.4,1); }

.slide-left.in  { -webkit-animation: slideLeftIn .25s cubic-bezier(.3,.7,.4,1); }
.slide-left.out { -webkit-animation: slideLeftOut .25s cubic-bezier(.3,.7,.4,1); }

.slide-up.in  { -webkit-animation: slideUpIn .3s cubic-bezier(.3,.7,.4,1); }
.slide-up.out { -webkit-animation: slideUpOut .3s cubic-bezier(.3,.7,.4,1); }

.slide-down.in  { -webkit-animation: slideDownIn .3s cubic-bezier(.3,.7,.4,1); }
.slide-down.out { -webkit-animation: slideDownOut .3s cubic-bezier(.3,.7,.4,1); }

/* Cover Animations */
.cover-right.in  { -webkit-animation: slideRightIn .25s cubic-bezier(.3,.7,.4,1); }
.cover-right.out { -webkit-animation: noAnim .25s cubic-bezier(.3,.7,.4,1); }

.cover-left.in  { -webkit-animation: slideLeftIn .25s cubic-bezier(.3,.7,.4,1); }
.cover-left.out { -webkit-animation: noAnim .25s cubic-bezier(.3,.7,.4,1); }

.cover-up.in  { -webkit-animation: slideUpIn .3s cubic-bezier(.3,.7,.4,1); }
.cover-up.out { -webkit-animation: noAnim .3s cubic-bezier(.3,.7,.4,1); }

.cover-down.in  { -webkit-animation: slideDownIn .3s cubic-bezier(.3,.7,.4,1); }
.cover-down.out { -webkit-animation: noAnim .3s cubic-bezier(.3,.7,.4,1); }

/* Reveal Animations */
.reveal-right.in  { -webkit-animation: noAnim .25s cubic-bezier(.3,.7,.4,1); }
.reveal-right.out { z-index: 800; -webkit-animation: slideRightOut .25s cubic-bezier(.3,.7,.4,1); }

.reveal-left.in  { -webkit-animation: noAnim .25s cubic-bezier(.3,.7,.4,1); }
.reveal-left.out { z-index: 800; -webkit-animation: slideLeftOut .25s cubic-bezier(.3,.7,.4,1); }

.reveal-up.in  { -webkit-animation: noAnim .3s cubic-bezier(.3,.7,.4,1); }
.reveal-up.out { z-index: 800; -webkit-animation: slideUpOut .3s cubic-bezier(.3,.7,.4,1); }

.reveal-down.in  { -webkit-animation: noAnim .3s cubic-bezier(.3,.7,.4,1); }
.reveal-down.out { z-index: 800; -webkit-animation: slideDownOut .3s cubic-bezier(.3,.7,.4,1); }

/* Pop Animations */
.pop-in.in  { -webkit-animation: popInIn .3s cubic-bezier(.3,.7,.4,1); }
.pop-in.out { -webkit-animation: popInOut .3s cubic-bezier(.3,.7,.4,1); }

.pop-out.in  { -webkit-animation: popOutIn .3s cubic-bezier(.3,.7,.4,1); }
.pop-out.out { -webkit-animation: popOutOut .3s cubic-bezier(.3,.7,.4,1); }

/* Fade Animation */
.fade.in  { -webkit-animation: fadeIn .4s cubic-bezier(.3,.7,.4,1); }
.fade.out { -webkit-animation: noAnim .4s cubic-bezier(.3,.7,.4,1); }

/* Flip Animations */
.flip-left.in  { -webkit-animation: flipLeftIn .5s linear; }
.flip-left.out { -webkit-animation: flipLeftOut .5s linear; }

.flip-right.in  { -webkit-animation: flipRightIn .5s linear; }
.flip-right.out { -webkit-animation: flipRightOut .5s linear; }

/* Cube Animations */
.cube-left.in  { -webkit-animation: cubeLeftIn .5s cubic-bezier(.3,.7,.4,1); }
.cube-left.out { -webkit-animation: cubeLeftOut .5s cubic-bezier(.3,.7,.4,1); }

.cube-right.in  { -webkit-animation: cubeRightIn .5s cubic-bezier(.3,.7,.4,1); }
.cube-right.out { -webkit-animation: cubeRightOut .5s cubic-bezier(.3,.7,.4,1); }

/* Animation Keyframes */
@-webkit-keyframes noAnim { 0% {} 100% {} }
@-webkit-keyframes showMenu {
	0%   { -webkit-transform: translate3d(0,0,0); }
	50%  { -webkit-transform: translate3d(285px,0,0); }
	100% { -webkit-transform: translate3d(270px,0,0); }
}
@-webkit-keyframes hideMenu {
	0%   { -webkit-transform: translate3d(270px,0,0); }
	50%  { -webkit-transform: translate3d(285px,0,0); }
	100% { -webkit-transform: translate3d(0,0,0); }
}
@-webkit-keyframes asideIn {
	0% 	 { opacity: 0; -webkit-transform: translate3d(270px,0,0); }
	50%  { opacity: 0; -webkit-transform: translate3d(285px,0,0); }
	100% { opacity: 1; -webkit-transform: translate3d(0,0,0); }
}
@-webkit-keyframes ios7LeftOut {
	0%   { -webkit-transform: translate3d(0,0,0); opacity: 1; }
	100% { -webkit-transform: translate3d(-30%,0,0); opacity: 0.8; }
}
@-webkit-keyframes ios7RightIn {
	0%   { -webkit-transform: translate3d(-30%,0,0); opacity: 0.8; }
	100% { -webkit-transform: translate3d(0,0,0); opacity: 1; }
}
@-webkit-keyframes slideRightIn {
	0%   { -webkit-transform: translate3d(-100%,0,0); }
	100% { -webkit-transform: translate3d(0,0,0); }
}
@-webkit-keyframes slideRightOut {
	0%   { -webkit-transform: translate3d(0,0,0); }
	100% { -webkit-transform: translate3d(100%,0,0); }
}
@-webkit-keyframes slideLeftIn {
	0%   { -webkit-transform: translate3d(100%,0,0); }
	100% { -webkit-transform: translate3d(0,0,0); }
}
@-webkit-keyframes slideLeftOut {
	0%   { -webkit-transform: translate3d(0,0,0); }
	100% { -webkit-transform: translate3d(-100%,0,0); }
}
@-webkit-keyframes slideUpIn {
	0%   { -webkit-transform: translate3d(0,100%,0); }
	100% { -webkit-transform: translate3d(0,0,0); }
}
@-webkit-keyframes slideUpOut {
	0%   { -webkit-transform: translate3d(0,0,0); }
	100% { -webkit-transform: translate3d(0,-100%,0); }
}
@-webkit-keyframes slideDownIn {
	0%   { -webkit-transform: translate3d(0,-100%,0); }
	100% { -webkit-transform: translate3d(0,0,0); }
}
@-webkit-keyframes slideDownOut {
	0%   { -webkit-transform: translate3d(0,0,0); }
	100% { -webkit-transform: translate3d(0,100%,0); }
}
@-webkit-keyframes popInIn { 
	0%   { -webkit-transform: scale(0.8); opacity: 0; }
	100% { -webkit-transform: scale(1); opacity: 1; }
}
@-webkit-keyframes popInOut { 
	0%   { -webkit-transform: scale(1); opacity: 1; }
	100% { -webkit-transform: scale(1.2); opacity: 0; }
}
@-webkit-keyframes popOutIn { 
	0%   { -webkit-transform: scale(1.2); opacity: 0; }
	100% { -webkit-transform: scale(1); opacity: 1; }
}
@-webkit-keyframes popOutOut { 
	0%   { -webkit-transform: scale(1); opacity: 1; }
	100% { -webkit-transform: scale(0.8); opacity: 0; }
}
@-webkit-keyframes fadeIn { 
	0%   { opacity: 0; }
	100% { opacity: 1; }
}
@-webkit-keyframes flipLeftIn { 
	0%   { -webkit-transform: perspective(800) rotateY(180deg) scale(1); opacity: .8; }
	50%  { -webkit-transform: perspective(800) rotateY(90deg) scale(.9); opacity: .9; }
	100% { -webkit-transform: perspective(800) rotateY(0deg) scale(1); opacity: 1; }
}
@-webkit-keyframes flipLeftOut { 
	0%   { -webkit-transform: perspective(800) rotateY(0deg) scale(1); opacity: 1; }
	50%  { -webkit-transform: perspective(800) rotateY(-90deg) scale(.9); opacity: .9; }
	100% { -webkit-transform: perspective(800) rotateY(-180deg) scale(1); opacity: .8; }
}
@-webkit-keyframes flipRightIn { 
	0%   { -webkit-transform: perspective(800) rotateY(-180deg) scale(1); opacity: .8; }
	50%  { -webkit-transform: perspective(800) rotateY(-90deg) scale(.9); opacity: .9; }
	100% { -webkit-transform: perspective(800) rotateY(0deg) scale(1); opacity: 1; }
}
@-webkit-keyframes flipRightOut { 
	0%   { -webkit-transform: perspective(800) rotateY(0deg) scale(1); opacity: 1; }
	50%  { -webkit-transform: perspective(800) rotateY(90deg) scale(.9); opacity: .9; }
	100% { -webkit-transform: perspective(800) rotateY(180deg) scale(1); opacity: .8; }
}
@-webkit-keyframes cubeLeftIn { 
	0%   { -webkit-transform: perspective(800) rotateY(90deg) translate3d(50%,0,160px); }
	100% { -webkit-transform: perspective(800) rotateY(0deg) translate3d(0,0,0); }
}
@-webkit-keyframes cubeLeftOut { 
	0%   { -webkit-transform: perspective(800) rotateY(0deg) translate3d(0,0,0); }
	100% { -webkit-transform: perspective(800) rotateY(-90deg) translate3d(-50%,0,160px); }
}
@-webkit-keyframes cubeRightIn { 
	0%   { -webkit-transform: perspective(800) rotateY(-90deg) translate3d(-50%,0,160px); }
	100% { -webkit-transform: perspective(800) rotateY(0deg) translate3d(0,0,0); }
}
@-webkit-keyframes cubeRightOut { 
	0%   { -webkit-transform: perspective(800) rotateY(0) translate3d(0,0,0); }
	100% { -webkit-transform: perspective(800) rotateY(90deg) translate3d(50%,0,160px); }
}